h1 {
    color: blue;
    font-family: Verdana;
}

.topnav {
    background-color: #3333ff;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Verdana;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.container {
    display: flex;
    align-items: top;
    justify-content: center;
}