body {
    background-color: lightblue;
}

h1 {
    color: blue;
    font-family: Verdana;
}

h4 {
    margin: 8px;
    font-weight: normal;
    color: black;
    font-family: Verdana;
}

.topnav {
    background-color: #3333ff;
    height: 50px;
    border-radius: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: Verdana;
    padding: 14px 16px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 17px;
}

.container {
    display: flex;
    align-items: top;
    justify-content: left;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 30%
    height: 30%
    display: inline-block;
    margin: 20px 100px;
    border-radius: 10px;
}